/* Remove all the styles of the "User-Agent-Stylesheet", except for the 'display' property */
*:where(:not(iframe, canvas, img, svg, video):not(svg *)) {
  all: unset;
  display: revert;
  background: none;
  border: none;
  font-family: 'Roboto', suns-serif;
}
:root {
  --color-label: #565656;
  --color-placeholder: #acacac;
  --color-heading-text: #333;
  --color-input-border: #e4e4e6;
}
:host {
  display: block;
  width: 100%;
  background: #fff;
  padding: 32px 16px;
}
//.stripe-payment-wrap {}

.StripeElement {
  padding: 8px 16px;
  min-height: 42px;
  border-bottom: 1px solid var(--color-input-border);
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  > .__PrivateStripeElement {
    width: 100%;
  }
}
.stripe-input-box {
  background-color: #fff;
  border-radius: 2px;
  filter: drop-shadow(0 0 1px var(--color-input-border));
}
.stripe-input-column {
  .StripeElement {
    border-right: 1px solid var(--color-input-border);
    &:last-child {
      border-right: none;
    }
  }
}

.stripe-heading {
  font-size: 24px;
  font-weight: bold;
  color: var(--color-heading-text);
  margin-bottom: 24px;
}
.stripe-section-title {
  font-size: 14px;
  font-weight: bold;
  color: var(--color-label);
  margin-bottom: 8px;
}
.payment-info label {
  color: var(--color-label);
}
