@use '../../style/theme';
@use '../../style/rest';

:host {
  @include rest.rest;
  display: block;
  box-sizing: border-box;
}

.modal-row {
  display: none;
}

.modal-row.open {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  gap: 1ch;
  background: rgba(0, 0, 0, 0.3);
}
.modal-child {
  padding: 1.5rem;
  background-color: #fff;
  width: 100%;
}

.modal-close-button-wrap {
  padding-left: 8px;
  .modal-close-button {
    width: 32px;
    display: block;
    fill: var(--color-label);
    cursor: pointer;
  }
}
