/* Remove all the styles of the "User-Agent-Stylesheet", except for the 'display' property */
*:where(:not(iframe, canvas, img, svg, video):not(svg *)) {
  all: unset;
  display: revert;
  background: none;
  border: none;
  font-family: 'Roboto', suns-serif;
  box-sizing: border-box;
}
button {
  cursor: pointer;
}
