:root {
  --color-label: #565656;
  --color-placeholder: #acacac;
  --color-heading-text: #333;
  --color-input-border: #e4e4e6;
  --color-button-text: rgba(255, 255, 255, 0.95);
  --color-button-text-disabled: rgba(255, 255, 255, 0.4);
  --color-primary: #0074d4;
}
