@import '../../style/rest.scss';
@import '../../style/theme.scss';

@include rest;

stripe-currency-selector {
  display: block;
  width: 100%;
}

.stripe-currency-selector-wrap {
  width: 100%;
  padding: 0;
  margin: 0;

  #currency-selector {
    width: 100%;
    min-height: 40px;
  }

  #currency-selector-errors {
    margin-top: 8px;
  }
}
